<div class="row font-weight-bold">
    <div class="container col-lg-5 jumbotron">
            <legend class="text-center col-mt-2 font-weight-bold">Log In</legend>
            <form [formGroup]="userLogin" (ngSubmit)="login()">
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" class="form-control" formControlName="user_name" placeholder="Enter User Name"
                        required>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Enter Password"
                        required>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary content-item-between" type="submit">Login</button>&nbsp;
                </div>
            </form>
        </div>
    </div>