*{
    background-image: url('../assets/testing.jpg');
    /* background-image: url('../assets/system.jpg'); */
   background-repeat: repeat;
    
    text-decoration: whitesmoke;
    color: whitesmoke;
}