<div class="container-fluid mt-3">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <div class="card">
        <div class="card-header">
            <div class=" d-flex align-items-center justify-content-between">
                
                <h3 class="text-center"><i class="fas fa-file-invoice"></i>&nbsp;&nbsp;&nbsp;Invoice Management System</h3>
                <nav>
                    <button class="btn btn-outline-light btn-sm" routerLink="/invoice"><i class="fas fa-file-invoice"></i> &nbsp;Invoice</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-light btn-sm" routerLink="/student"><i class="fas fa-user-tie"></i> &nbsp;Student</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-light btn-sm" (click)="logout()"><i class="fas fa-power-off"></i>&nbsp;Logout</button>&nbsp;
                </nav>
            </div>
        </div> 
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>